{*
 * Шаблон для добавления нового раздела
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{use 'component:site/add.html'}
{import 'component:site/add.html'}

{block 'component_set'}{parent}
{if $.request.site ? && ($site = $.model->factory('Site')->findOne($.request.site))}
{elseif $.request.section ? && ($section = $.model->factory('Section')->findOne($.request.section))}
    {set $site = $section->site()->findOne()}
    {set $parents = $section->parents()->orderByAsc('path')->findMany()}
{else}
    {exit}
{/if}

{if $.request.apply !}
    {set $instance = $site->section()->create($.request)}
    {set $instance->site = $site->id}
    {if $section ?}{set $instance->parent = $section->id}{/if}
    {if $instance->save()}
        {if $instance->parent ?}
            {var $.request.section = $instance->parent}
        {else}
            {var $.request.site = $instance->site}
        {/if}
        {set $message}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-ok"></span>
            Новый объект успешно добавлен.
        </div>
        {/set}
        {include 'component:section/list.html'}
        {exit}
    {else}
        {set $message}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-remove"></span>
            {$.env.message ?: 'При добавлении нового объекта возникла ошибка.'}
        </div>
        {/set}
    {/if}
    {var $.request = array_merge($.request, $instance->asArray())}
{/if}

{set $schema = $.schema->findOne('Section')}
{set $groups = $schema.groups}
{set $fields = array_column($.model->factory('Section')->fields(), 'field')}
{set $fields = $schema->field()->whereNotIn('field', $fields)->findArray()}
{set $templates = $.model->factory('Template')->orderByAsc('path')->findMany()}
{set $models = $.schema->findMany()}

{* Формирование меню *}
{set $menu.main.left.site.class="active"}
{set $menu.second.left = [
    [
        'title' => 'Добавление нового раздела',
        'link' => $.component ~ '/section/add.html?' ~ ($section ? 'section=' ~ $section.id : 'site=' ~ $site.id),
        'class' => 'active green'
    ]
]}

{* Построение древовидного меню и определение мета данных *}
{set $meta = $site.meta}
{set $tree.open_nodes[] = 'site_' ~ $site->id}
{foreach $parents as $parent}
    {set $tree.open_nodes[] = 'section_' ~ $parent->id}
    {foreach $parent->meta as $tag => $value}
        {if $value ?}{set $meta[$tag] = $value}{/if}
    {/foreach}
{/foreach}
{if $section ?}
    {foreach $section->meta as $tag => $value}
        {if $value ?}{set $meta[$tag] = $value}{/if}
        {/foreach}
    {set $tree.open_nodes[] = 'section_' ~ $section->id}
    {set $tree.selected_node[] = 'section_' ~ $section->id}
{else}
    {set $tree.selected_node[] = 'site_' ~ $site->id}
{/if}
{/block}

{macro main}
    <div class="control-group has-warning {if $.request.apply ! && ! $.request.title}has-error{/if}">
        <div class="form-group">
            <label class="label-light required" for="title">Название раздела</label>
            <input class="form-control" type="text" value="{$.request.title|e}" name="title" id="title">
            <span class="help-block">Название раздела используется при автоматической генерации
            заголовков title для всех страниц сайта.</span>
        </div>
    </div>
    <div class="form-group">
        <label class="label-light required" for="keyword">Адрес</label>
        <input class="form-control" type="text" value="{$.request.keyword|e}" name="keyword" id="keyword">
        <span class="help-block">Адрес может содержать только буквы, цифры, дефис, символ нижнего подчеркивания и точку.</span>
    </div>
    <hr>
    <div class="form-group">
        <label class="required" for="description">Описание</label>
        <textarea class="form-control" rows="4" data-resizable="true" name="description" id="description">{$.request.description|e}</textarea>
        <span class="help-block"></span>
    </div>
{/macro}

{macro infobox($models)}
    <div class="form-group">
        <label class="label-light required" for="model">Модель данных</label>
        <select class="form-control" name="infobox[model]" id="model" role="simple">
            <option value="">Не задана</option>
        {foreach $models as $model}
            {foreach $model->field()->findArray() as $field}
                {set $fields[$model.name][] = $field.field}
            {/foreach}
            <option value="{$model.name}" data-fields="{$fields[$model.name]|join}" {if $.request.infobox.model == $model.name}selected{/if}>{$model.name}</option>
        {/foreach}
        </select>
    </div>
    <div class="form-group">
        <label class="label-light required" for="field">Сортировать по полю</label>
        <div class="row">
            <div class="col-md-6">
                <select class="form-control" name="infobox[field]" id="field" role="simple">
    {if $.request.infobox.field ?}
        {foreach $fields[$.request.infobox.model] as $field}
                    <option value="{$field}" {if $field === $.request.infobox.field}selected{/if}>{$field}</option>
        {/foreach}
    {/if}
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-control" name="infobox[order]" id="order" role="simple">
                    <option value="desc" {if 'desc' === $.request.infobox.order}selected{/if}>в порядке убывания</option>
                    <option value="asc" {if 'asc' === $.request.infobox.order}selected{/if}>в порядке возрастания</option>
                </select>
            </div>
        </div>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label class="label-light required" for="pattern">Количество объектов на странице</label>
        <input class="form-control" type="text" value="{$.request.infobox.limit|e}" name="infobox[limit]" id="pattern" {if $.request.extension ?}disabled{/if}>
        <span class="help-block"></span>
    </div>
    <hr>
    <div class="form-group">
        <label class="label-light required" for="pattern">Паттерн</label>
        <input class="form-control" type="text" value="{$.request.infobox.pattern|e}" name="infobox[pattern]" id="pattern" {if $.request.extension ?}disabled{/if}>
        <span class="help-block"></span>
    </div>
{/macro}

{block 'component_content'}
{parent}
<form id="add" action="{$.component}/section/add.html?{if $section ?}section={$section.id}{else}site={$site.id}{/if}&apply" method="post">
    <ul class="nav nav-tabs">
    {foreach $groups as $keyword=>$group first=$first}
        <li class="{if ('tab_' ~ $keyword) == $.cookie.tabs || (!$.cookie.tabs && $first)}active{/if}"><a href="#tab_{$keyword}" data-toggle="tab">{$group}</a></li>
    {/foreach}
    </ul>
    <div class="tab-content">
    {foreach $groups as $keyword => $group first=$first}
        {set $keys = array_keys(array_column($fields, 'group'), $keyword)}
        <div class="tab-pane {if ('tab_' ~ $keyword) == $.cookie.tabs || (!$.cookie.tabs && $first)}active{/if}" id="tab_{$keyword}">
        {switch $keyword}
            {case 'main'}{macro.main}{if $keys ?}<hr>{/if}
            {case 'meta'}{macro.meta meta=$meta}{if $keys ?}<hr>{/if}
            {case 'template'}{macro.template templates=$templates inherit=true}{if $keys ?}<hr>{/if}
            {case 'infobox'}{macro.infobox models=$models}{if $keys ?}<hr>{/if}
        {/switch}
        {foreach $keys as $key}{macro.field field=$fields[$key]}{/foreach}
        </div>
    {/foreach}
    </div>
</form>
{/block}

{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Добавить раздел" form="add">
{/block}

{block 'component_script'}
{parent}
<script src="{$.component}/assets/ckeditor/ckeditor.js"></script>
<script src="{$.component}/assets/jquery-fileupload/jquery.iframe-transport.js"></script>
<script src="{$.component}/assets/jquery-fileupload/jquery.fileupload.js"></script>
<script>
$('[name=infobox\\[model\\]]').on("change", function (e) {
    if (value = $(this).val()) {
        fields = $('[name=infobox\\[model\\]] option[value=' + $(this).val() + ']').data('fields').split(',');
        value = $('[name=infobox\\[field\\]]').val();
        $('[name=infobox\\[field\\]] option').remove();
        $.each(fields, function(key,val) {
             $('[name=infobox\\[field\\]]').append(new Option(val, val));
        });
        $('[name=infobox\\[field\\]]').val('priority');
        if (value) {
            $('[name=infobox\\[field\\]]').val(value);
        }
        $('[name=infobox\\[field\\]]').trigger("change");
    }
}).trigger("change");
</script>
{/block}
