{*
 * Шаблон для изменения настроек заданного раздела
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{use 'component:site/add.html'}
{import 'component:section/add.html'}

{block 'component_set'}{parent}
{* Выборка данных *}
{if $.request.section ? && ($section = $.model->factory('Section')->findOne($.request.section))}
    {set $site = $section->site()->findOne()}
    {set $parents = $section->parents()->orderByAsc('path')->findMany()}
    {if $.request.apply !}
        {if $section->set($.request)->save()}
            {set $section =$.model->factory('Section')->findOne($section)}
            {set $message}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok"></span>
                Данные объекта успешно обновлены.
            </div>
            {/set}
        {else}
            {set $message}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-remove"></span>
                Не удалось сохранить изменения.
            </div>
            {/set}
        {/if}
    {/if}
{else}
    {exit}
{/if}

{var $.request = array_merge($.request, $section->asArray())}

{* Формирование меню *}
{set $menu.main.left.site.class="active"}
{set $menu.second = []}
{if ! $section->extension}
    {set $menu.second.left.section = [ 'title' => 'Разделы', 'link' => $.component ~ '/section/list.html?section=' ~ $.request.section]}
{/if}
{if $section->infobox.model ?}
    {set $menu.second.left.object = [ 'title' => 'Объекты', 'link' => $.component ~ '/row/list.html?section=' ~ $.request.section]}
{/if}
{set $menu.second.right = [
    [ 'title' => 'Изменение настроек', 'link' => $.component ~ '/section/set.html?section=' ~ $.request.section, 'class' => 'active' ],
    [ 'title' => 'Редактирование шаблона', 'link' => $.component ~ '/section/edit.html?section=' ~ $section.id ]
]}

{* Построение древовидного меню и определение мета данных *}
{set $meta = $site.meta}
{set $tree.open_nodes[] = 'site_' ~ $site->id}
{foreach $parents as $parent}
    {set $tree.open_nodes[] = 'section_' ~ $parent->id}
    {foreach $parent->meta as $tag => $value}
        {if $value ?}{set $meta[$tag] = $value}{/if}
    {/foreach}
{/foreach}
{set $tree.open_nodes[] = 'section_' ~ $section->id}
{set $tree.selected_node[] = 'section_' ~ $section->id}

{set $schema = $.schema->findOne('Section')}
{set $groups = $schema.groups}
{set $fields = array_column($.model->factory('Section')->fields(), 'field')}
{set $fields = $schema->field()->whereNotIn('field', $fields)->findArray()}

{set $templates = $.model->factory('Template')->orderByAsc('path')->findMany()}
{set $models = $.schema->findMany()}
{/block}

{block 'component_aside'}
<div id="tree" data-url="{$.component}/site/tree.html"></div>
{/block}

{block 'component_content'}
{parent}
<form id="set" action="{$.component}/section/set.html?section={$section.id}&apply" method="post">
    <ul class="nav nav-tabs">
    {foreach $groups as $keyword=>$group first=$first}
        <li class="{if ('tab_' ~ $keyword) == $.cookie.tabs || (!$.cookie.tabs && $first)}active{/if}"><a href="#tab_{$keyword}" data-toggle="tab">{$group}</a></li>
    {/foreach}
    </ul>
    <div class="tab-content">
    {foreach $groups as $keyword => $group first=$first}
        {set $keys = array_keys(array_column($fields, 'group'), $keyword)}
        <div class="tab-pane {if ('tab_' ~ $keyword) == $.cookie.tabs || (!$.cookie.tabs && $first)}active{/if}" id="tab_{$keyword}">
        {switch $keyword}
            {case 'main'}{macro.main}{if $keys ?}<hr>{/if}
            {case 'meta'}{macro.meta meta=$meta}{if $keys ?}<hr>{/if}
            {case 'template'}{macro.template templates=$templates inherit=true}{if $keys ?}<hr>{/if}
            {case 'infobox'}{macro.infobox models=$models}{if $keys ?}<hr>{/if}
        {/switch}
        {foreach $keys as $key}{macro.field field=$fields[$key]}{/foreach}
        </div>
    {/foreach}
    </div>
</form>
{/block}

{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Сохранить изменения" form="set">
<div class="pull-right">
    <a class="btn btn-default" href="{$.component}/section/set.html?section={$section.id}" role="button">Отменить изменения</a>
</div>
{/block}

{block 'component_script'}
{parent}
<script src="{$.component}/assets/ckeditor/ckeditor.js"></script>
<script src="{$.component}/assets/jquery-fileupload/jquery.iframe-transport.js"></script>
<script src="{$.component}/assets/jquery-fileupload/jquery.fileupload.js"></script>
<script>
$('[name=infobox\\[model\\]]').on("change", function (e) {
    if (value = $(this).val()) {
        fields = $('[name=infobox\\[model\\]] option[value=' + $(this).val() + ']').data('fields').split(',');
        value = $('[name=infobox\\[field\\]]').val();
        $('[name=infobox\\[field\\]] option').remove();
        $.each(fields, function(key,val) {
             $('[name=infobox\\[field\\]]').append(new Option(val, val));
        });
        $('[name=infobox\\[field\\]]').val('priority');
        if (value) {
            $('[name=infobox\\[field\\]]').val(value);
        }
        $('[name=infobox\\[field\\]]').trigger("change");
    }
}).trigger("change");
</script>
{/block}
