{*
 * Шаблон для редактирования выбранного макета дизайна
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{block 'component_set'}{parent}
{if $.request.template ? && ($template = $.model->factory('Template')->findOne($.request.template))}
    {if $.request.index is set}
        {set $matches = preg_split('/({editable.*?})(.*?)({\\/editable})/s', $template->source, null, $.const.PREG_SPLIT_DELIM_CAPTURE)}
        {foreach $matches as $key => $match}
            {if $match|match:"{editable*"}
                {set $editables[] = $key + 1}
            {/if}
        {/foreach}
        {set $matches[$editables[$.request.index]] = "\n" ~ file_get_contents('php://input') ~ "\n"}
        {do $template->set('source', $matches|join:'')->save()}
        {exit}
    {/if}
    {set $parents = $template->parents()->orderByAsc('path')->findMany()}
    {if $.request.apply !}
        {php}
        try { $tpl->getStorage()->compileCode($_REQUEST['source']); }
        catch (\Exception $e) { $var['error'] = $e->getMessage(); }
        {/php}
        {if ($error is not set) && $template->set($.request)->save()}
            {set $message}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok"></span>
                Данные объекта успешно обновлены.
            </div>
            {/set}
        {else}
            {set $message}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-remove"></span>
                {($error is set) ? $error : 'Не удалось сохранить изменения.'}
            </div>
            {/set}
        {/if}
    {/if}
    {var $.request = array_merge($template->asArray(), $.request)}
{else}
    {exit}
{/if}

{* Построение основного меню *}
{set $menu.main.left.template.class="active"}
{set $menu.second = [
    'left' => [
        [ 'title' => 'Макеты дизайна', 'link' => $.component ~ '/template/list.html?template=' ~ $template.id ]
    ],
    'right' => [
        [ 'title' => 'Изменение настроек', 'link' => $.component ~ '/template/set.html?template=' ~ $template.id ],
        [ 'title' => 'Редактирование шаблона', 'link' => $.component ~ '/template/edit.html?template=' ~ $template.id, 'class' => 'active' ]
    ]
]}

{* Построение древовидного меню *}
{foreach $parents as $parent}
    {set $tree.open_nodes[] = 'template_' ~ $parent->id}
{/foreach}
{set $tree.open_nodes[] = 'template_' ~ $template->id}
{set $tree.selected_node[] = 'template_' ~ $template->id}
{/block}

{block 'component_aside'}
<div id="tree" data-url="{$.component}/template/tree.html"></div>
{/block}

{block 'component_content'}
{parent}
<form id="edit" class="editor" action="{$.component}/template/edit.html?template={$template.id}&apply" method="post">
    <div>
        <pre data-name="source">{$.request.source|e}</pre>
        <input name="source" type="hidden" value="{$.request.source|e}">
    </div>
</form>
{/block}

{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Сохранить изменения" form="edit">
<div class="pull-right">
    <a class="btn btn-default" href="{$.component}/template/edit.html?template={$template.id}" role="button">Отменить изменения</a>
</div>
{/block}

{block 'component_script'}
<script src="{$.component}/assets/ace/ace.js"></script>
{parent}
{/block}
