{*
 * Шаблон для построения дерева
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{block 'component_set'}
{set $json = []}
{set $templates = $.model->factory('Template')->where('parent', $.request.template ?: 0)->orderByAsc('priority')->findMany()}
{foreach $templates as $template}
    {set $json[] = [
            'id' => 'template_' ~ $template->id,
            'label' => $template->title,
            'link' => $.component ~ '/template/list.html?template=' ~ $template->id,
            'keyword' => $template->keyword,
            'load_on_demand' => $template->children()->count(),
            'icon' => 'glyphicon-picture',
            'color' => $template->active ? 'blue' : 'grey'
    ]}
{/foreach}
{$json|json_encode}
{exit}
{/block}
