{*
 * Шаблон для добавления полей модели данных
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{block 'component_set'}{parent}
{if $.request.model ? && ($model = $.schema->findOne($.request.model))}
    {if $.request.apply !}
        {var $.request.null = 'NO'}
        {if 'NULL' === $.request.default}
            {var $.request.null = 'YES'}
            {var $.request.default = ''}
        {/if}
        {if $model->field()->create($.request)->save()}
            {set $message}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok"></span>
                Новый объект успешно добавлен.
            </div>
            {/set}
            {include 'component:field/list.html'}
            {exit}
        {else}
            {set $message}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-remove"></span>
                {$.env.message ?: 'При добавлении нового объекта возникла ошибка.'}
            </div>
            {/set}
        {/if}

    {/if}
{else}
    {exit}
{/if}

{* Построение меню *}
{set $menu.main.left.model.class="active"}
{set $menu.second.left = [
    ['title' => 'Добавление нового поля', 'link' => $.component ~ '/field/add.html?model=' ~ $model.name, 'class' => 'active green']
]}

{* Построение древовидного меню *}
{set $tree.open_nodes = []}
{set $tree.selected_node = ['model_' ~ $model.name]}
{/block}

{block 'component_aside'}
<div id="tree" data-url="{$.component}/model/tree.html"></div>
{/block}

{block 'component_content'}
{parent}
<form id="add" action="{$.component}/field/add.html?model={$model.name}&apply" method="post">
    <ul class="nav nav-tabs">
        <li class="{if 'main' == $.cookie.tabs || ! $.cookie.tabs}active{/if}"><a href="#main" data-toggle="tab">Основная информация</a></li>
    </ul>
    <div class="tab-content">
        {macro main($protect=false)}
        <div class="tab-pane {if 'main' == $.cookie.tabs || ! $.cookie.tabs}active{/if}" id="main">
            <div class="control-group has-warning {if $.request.apply ! && ! $.request.title}has-error{/if}">
                <div class="form-group">
                    <label class="label-light required" for="title">Название поля</label>
                    <input class="form-control" type="text" value="{$.request.title|e}" name="title" id="title">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="control-group has-warning {if $.request.apply ! && ! $.request.field}has-error{/if}">
                <div class="form-group">
                    <label class="label-light required" for="field">Ключевое слово</label>
                    <input class="form-control" type="text" value="{$.request.field|e}" name="field" id="field" oninput="this.value = this.value.replace(/\W/g, '')" {if $.request.field in $protect}disabled{/if}>
                    <span class="help-block">Является полем в таблице базы данных, пишется с помощью латинского алфавита.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="label-light required" for="comment">Описание</label>
                <textarea class="form-control" rows="4" data-resizable="true" name="comment" id="comment">{$.request.comment|e}</textarea>
                <span class="help-block"></span>
            </div>
            <hr>
            <div class="form-group">
                <label class="label-light required" for="aspect">Тип поля</label>
                <select class="form-control" name="aspect" role="simple" {if $.request.field in $protect}disabled{/if}>
                    <option value="string" title="Строка изменяющийся длины. Диапазон от 1 до 255 символов, пробелы по краям обрезаются при сохранении." {if 'string' == $.request.aspect}selected{/if}>Строка</option>
                    <option value="text" title="Текстовый блок. Максимальная длина 4 294 967 295 символов." {if 'text' == $.request.aspect}selected{/if}>Текстовый блок</option>
                    <option value="datetime" title="Комбинация даты и времени. Диапазон от ‘1000-01-01 00:00:00’ до ‘9999-12-31 23:59:59’, отображается в виде ‘YYYY-MM-DD HH:MM:SS’." {if 'datetime' == $.request.aspect}selected{/if}>Комбинация даты и времени</option>
                    <option value="integer" title="Целое число обыкновенной разрядности. Диапазон чисел: -2 147 483 648 … 2 147 483 647." {if 'integer' == $.request.aspect}selected{/if}>Целое число</option>
                    <option value="double" title="Число с плавающей запятой. Диапазон от -1.7976931348623157E+308 до -2.2250738585072014E-308." {if 'double' == $.request.aspect}selected{/if}>Число с плавающей запятой</option>
                    <option value="boolean" title="Двоичное число. Два возможных значения 0 (false) и 1 (true)." {if 'boolean' == $.request.aspect}selected{/if}>Логическая переменная</option>
                    <option value="file" title="Информация о файле" {if 'file' == $.request.aspect}selected{/if}>Информация о файле</option>
                    <option value="join" title="Связь с другой моделью данных" {if 'join' == $.request.aspect}selected{/if}>Связь с моделью данных</option>
                </select>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="label-light required" for="default">Значение по умолчанию</label>
                <select class="form-control" name="default" id="default" role="tags" {if $.request.field in $protect}disabled{/if}>
                {if $.request.default ?}
                    <option value="{$.request.default|e}" selected data-sure="true">{$.request.default|e}</option>
                    <option value="NULL" data-sure="true">может быть пустым</option>
                    <option value="" data-sure="true">обязательно для заполнения</option>
                {else}
                    <option value="NULL" data-sure="true">может быть пустым</option>
                    <option value="" data-sure="true" {if 'NO' === $.request.null}selected{/if}>обязательно для заполнения</option>
                {/if}
                </select>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="required" for="group">Группа</label> <span class="badge pull-right">group</span>
                <select class="form-control" name="group" id="group" role="simple">
                {set $schema = $.schema->findOne($.request.model)}
                {foreach $schema.groups as $keyword => $group}
                    <option value="{$keyword}" {if $keyword == $.request.group}selected{/if}>{$group|e}</option>
                {/foreach}
                    <option value="">не задана</option>
                </select>
                <span class="help-block"></span>
            </div>
            {set $models = $.schema->findMany()}
            <div class="form-group hidden">
                <hr>
                <label class="label-light required" for="join">Модель данных</label>
                <select class="form-control" name="join" id="join" role="simple">
                {foreach $models as $model}
                    {foreach $model->field()->findArray() as $column}
                        {set $columns[$model.name][] = $column.field}
                    {/foreach}
                    <option value="{$model.name}" data-columns="{$columns[$model.name]|join}" {if $model.name === $.request.join}selected{/if}>{$model.name}</option>
                {/foreach}
                </select>
                <span class="help-block"></span>
            </div>
            <div class="form-group hidden">
                <label class="label-light required" for="column">Отображаемое поле</label>
                <select class="form-control" name="column" id="column" role="simple">
            {if $.request.join ?}
                {foreach $columns[$.request.join] as $column}
                    <option value="{$column}" {if $column === $.request.column}selected{/if}>{$column}</option>
                {/foreach}
            {/if}
                </select>
                <span class="help-block"></span>
            </div>
            <div class="form-group hidden">
                <hr>
                <label class="label-light required" for="editor">Встраиваемый редактор</label>
                <select class="form-control" name="editor" id="editor" role="simple">
                    <option value="">не использовать</option>
                    <option value="ckeditor" {if 'ckeditor' === $.request.editor}selected{/if}>CKEditor</option>
                </select>
                <span class="help-block"></span>
            </div>
            <div class="form-group hidden">
                <hr>
                <label class="label-light required" for="types">Тип файлов</label>
                <input class="form-control" name="types" id="types" value="{$.request.types|e}">
                <span class="help-block">Определяет, какие файлы (исходя из их названия) принимаются для загрузки. Например: (gif|jpe?g|png)</span>
            </div>
            <div class="form-group hidden">
                <label class="label-light required" for="min_width">Минимальный размер изображения</label>
                <div class="row">
                    <div class="col-xs-6">
                        <span>Ширина</span>
                        <input class="form-control" name="min_width" id="min_width" value="{$.request.min_width|e}">
                    </div>
                    <div class="col-xs-6">
                        <span>Высота</span>
                        <input class="form-control" name="min_height" id="min_height" value="{$.request.min_height|e}">
                    </div>
                </div>
                <div class="input-group">
                    <input type="hidden" name="increase">
                    <input type="checkbox" name="increase" {if $.request.increase ?}checked{/if}> увеличить изображение до заданных размеров
                </div>
                <span class="help-block">Размеры задаются в пикселях (px)</span>
            </div>
            <div class="form-group hidden">
                <label class="label-light required" for="min_width">Максимальный размер изображения</label>
                <div class="row">
                    <div class="col-xs-6">
                        <span>Ширина</span>
                        <input class="form-control" name="max_width" id="max_width" value="{$.request.max_width|e}" placeholder="например: 1280">
                    </div>
                        <div class="col-xs-6">
                        <span>Высота</span>
                        <input class="form-control" name="max_height" id="max_height" value="{$.request.max_height|e}" placeholder="например: 960">
                    </div>
                </div>
                <div class="input-group">
                    <input type="hidden" name="reduction">
                    <input type="checkbox" name="reduction" {if $.request.reduction ?}checked{/if}> уменьшить изображение до заданных размеров
                </div>
                <span class="help-block">Размеры задаются в пикселях (px)</span>
            </div>
            {*<div class="form-group">
                <label class="label-light required" for="number">Максимальное количество файлов</label>
                <input class="form-control" name="number" id="number" value="{$.request.number|e}">
                <span class="help-block">По умолчанию - без ограничений</span>
            </div>*}
        </div>
        {/macro}{macro.main}
    </div>
</form>
{/block}

{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Добавить поле" form="add">
{/block}

{block 'component_script'}
{parent}
<script>
function setDefault(type) {
    $('[name=default] option[data-sure!=true]').remove();
    $('[name=editor],[name=join],[name=column],[name=types],[name^=min],[name^=max],[name=increase],[name=reduction]').prop('disabled', 'disabled').closest('.form-group').addClass('hidden');
    switch (type) {
        case 'boolean':
            var options = [new Option("истина", "1"), new Option("ложь", "0")];
            $('[name=default]').select2().prepend(options);
            break;
        case 'text':
            $('[name=default]').select2();
            $('[name=editor]').prop('disabled', false).closest('.form-group').removeClass('hidden');
            break;
        case 'file':
            $('[name=default]').select2();
            $('[name=types],[name^=min],[name^=max],[name=increase],[name=reduction]').prop('disabled', false).closest('.form-group').removeClass('hidden');
            break;
        case 'join':
            $('[name=join],[name=column]').prop('disabled', false).closest('.form-group').removeClass('hidden');
            $('[name=default]').select2();
            $('[name=join]').on("change", function (e) {
                columns = $('[name=join] option[value=' + $(this).val() + ']').data('columns').split(',');
                value = $('[name=column]').val();
                $('[name=column] option').remove();
                $.each(columns, function(key,val) {
                     $('[name=column]').append(new Option(val, val));
                });
                if (value) {
                    $('[name=column]').val(value);
                }
                $('[name=column]').trigger("change");
            }).trigger("change");
            break;
        default:
            $('[name=default]').select2($.fn.select2.tags);
    }
}
type = $('[name=aspect]').on("change", function (e) { setDefault($(this).val()) }).val();
setDefault(type);
</script>
{/block}
