{*
 * Шаблон для загрузки выбранных файлов
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{block 'component_set'}{parent}
{set $server = $.server|array_change_key_case}
{if $.request.model ? && ($model = $.schema->findOne($.request.model)) &&
    $.request.field ? && ($field = $model->field()->findOne($.request.field))}
    {set $options = $field->uploadConfig()}
    {if $server.request_method !== 'DELETE'}
        {if $.files ?}
            {set $handler = $options|upload_handler}
        {else}
            {set $parts = $.request.path|split:$.const.DS}
            {do $parts|array_shift}
            {set $path = $parts|join:'/'}
            {set $url = $.request.files ?: ($server.request_scheme ?: 'http')  ~ '://' ~ $server.server_name ~ '/' ~ $path}
            {set $options.print_response = false}
            {set $handler = $options|upload_handler}
            {do $handler->importFromUrl($url)}
        {/if}
    {elseif $.request.file ?}
        {do $options|upload_handler}
    {/if}
{/if}
{exit}
{/block}
