{*
 * Шаблон для изменения данных заданного пользователя
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{use 'component:site/add.html'}
{import 'component:user/add.html'}

{block 'component_set'}{parent}
{var $.server = $.server|array_change_key_case}
{if $.request.user ? && ($user = $.model->factory('User')->findOne($.request.user))}
    {if $.request.apply !}
        {if $user->set($.request)->save()}
            {set $message}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok"></span>
                Данные объекта успешно обновлены.
            </div>
            {/set}
            {var $.request = array_merge($.request, $user->asArray())}
        {else}
            {set $message}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-remove"></span>
                Не удалось сохранить изменения.
            </div>
            {/set}
        {/if}
    {/if}
    {set $groups = $.model->factory('Group')->findMany()}
{else}
    {exit}
{/if}

{* Построение основного меню *}
{set $menu.main.left.user.class="active"}
{set $menu.second = [
    'left' => [
        ['title' => 'Группы', 'link' => $.component ~ '/group/list.html' ],
        ['title' => 'Пользователи', 'link' => $.component ~ '/user/list.html' ]
    ],
    'right' => [
        ['title' => 'Изменение настроек', 'link' => $.component ~ '/user/set.html?user=' ~ $user.id, 'class' => 'active']
    ]
]}

{var $.request = array_merge($user->asArray(), $.request)}

{* Построение древовидного меню *}
{set $tree.open_nodes = []}
{set $tree.selected_node[] = 'user_' ~ $user.id}
{if $user->group ?}
    {set $tree.open_nodes[] = 'group_' ~ $user.group}
{/if}
{/block}

{block 'component_aside'}
<div id="tree" data-url="{$.component}/user/tree.html"></div>
{/block}

{block 'component_content'}
{parent}
<form id="set" action="{$.component}/user/set.html?user={$user.id}&apply" method="post">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Основная информация</a></li>
    {if $additionals ?}
        <li><a href="#additional" data-toggle="tab">Дополнительная информация</a></li>
    {/if}
        <li><a href="#permission" data-toggle="tab">Права доступа</a></li>
    </ul>
    <div class="tab-content">
        {macro.main}
        {macro.permission groups=$groups}
    </div>
</form>
{/block}


{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Сохранить изменения" form="set">
<div class="pull-right">
    <a class="btn btn-default" href="{$.component}/user/set.html?user={$user.id}" role="button">Отменить изменения</a>
</div>
{/block}
