{*
 * ...
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{block 'component_set'}
{set $server = $.server|array_change_key_case}
{if $.request.login ? && $.request.password}
    {if $user = $.model->factory('User')->whereAnyIs([
        ['login' => $.request.login],
        ['email' => $.request.login]
    ])->findOne()}
        {if password_verify($.request.password, $user->password)}
            {var $.session.cms.user = $user->id}
            {do header('Location: ' ~ $.component ~ '/')}
            {exit}
        {/if}
    {/if}
{/if}
{/block}

{block 'component_body'}
<div class="container login">
    <div class="form">
        <form action="" method="post">
            <div class="control-group {if $.request.apply ! && ! $.request.login}has-error{/if}">
                <div class="form-group">
                    <label class="required" for="login">Логин или email</label>
                    <input class="form-control" type="text" value="{$.request.login|e}" name="login" id="login">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="control-group {if $.request.apply ! && ! $.request.password}has-error{/if}">
                <div class="form-group">
                    <label class="required" for="password">Пароль</label>
                    <input class="form-control" type="password" value="" name="password" id="password">
                    <span class="help-block"></span>
                </div>
            </div>
            <hr>
            <div class="pull-left"><button class="btn btn-primary" type="submit" name="apply">Авторизоваться</button></div>
            <div class="pull-right"><a href="http://www.kitcms.ru" targte="_blank">Kit.cms</a><br><small class="grey">{$.codename} {$.version}</small></div>
        </form>
    </div>
</div>
{/block}
