{*
 * Шаблон для добавления новых сайтов
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{block 'component_set'}{parent}
{* Формирование меню *}
{set $menu.main.left.site.class="active"}
{set $menu.second.left = [
    ['title' => 'Добавление нового сайта', 'link' => $.component ~ '/site/add.html', 'class' => 'active green']
]}

{var $.server = $.server|array_change_key_case}

{* Добавление объекта *}
{if $.request.apply !}
    {set $site = $.model->factory('Site')->create($.request)}
    {if $site->save()}
        {if $.request.host == $.server.http_host}
            {set $location = $site.config.dashboard ~ '/site/set.html?site=' ~ $site.id}
            {do header('Location: /' ~ $location)}
            {exit}
        {/if}
        {set $message}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-ok"></span>
            Новый объект успешно добавлен.
        </div>
        {/set}
        {include 'component:site/list.html'}
        {exit}
    {else}
        {set $message}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-remove"></span>
            При добавлении нового объекта возникла ошибка.
        </div>
        {/set}
    {/if}
{/if}

{* Выборка необходимых данных *}
{set $schema = $.schema->findOne('Site')}
{set $groups = $schema.groups}
{set $fields = array_column($.model->factory('Site')->fields(), 'field')}
{set $fields = $schema->field()->whereNotIn('field', $fields)->findArray()}
{set $templates = $.model->factory('Template')->orderByAsc('path')->findMany()}
{/block}

{block 'component_aside'}
<div id="tree" data-url="{$.component}/site/tree.html"></div>
{/block}

{macro main}
<div class="control-group has-warning {if $.request.apply ! && ! $.request.title}has-error{/if}">
    <div class="form-group">
        <label class="label-light required" for="title">Название сайта</label> <span class="badge pull-right">site.title</span>
        <input class="form-control" type="text" value="{$.request.title|e}" name="title" id="title">
        <span class="help-block"></span>
    </div>
</div>
<hr>
<div class="control-group has-warning {if $.request.apply ! && ! $.request.host}has-error{/if}">
    <div class="form-group">
        <label class="required" for="host">Основной домен</label> <span class="badge pull-right">site.host</span>
        <input class="form-control" type="text" value="{!$.request.host ? $.server.http_host : $.request.host|e}" name="host" id="host">
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group">
    <input type="hidden" name="alias">
    <label class="required" for="alias">Зеркала</label> <span class="badge pull-right">site.alias</span>
    <select class="form-control" name="alias[]" id="alias" role="tags" multiple>
    {foreach $.request.alias as $alias}
        <option value="{$alias|e}" selected>{$alias|e}</option>
    {/foreach}
    </select>
    <span class="help-block"></span>
</div>
<hr>
<div class="form-group">
    <label class="required" for="description">Описание</label> <span class="badge pull-right">site.description</span>
    <textarea class="form-control" rows="4" data-resizable="true" name="description" id="description">{$.request.description|e}</textarea>
    <span class="help-block"></span>
</div>
{/macro}

{macro meta($meta=false)}
<div class="form-group">
    <label class="label-light required" for="meta_title">Заголовок страницы</label> <span class="badge pull-right">meta.title</span>
    <input class="form-control" type="text" value="{$.request.meta.title|e}" name="meta[title]" id="meta_title" placeholder="{if $meta.title ?}{$meta.title}{/if}">
    <span class="help-block">Хороший заголовок должен включать ключевые слова
    и их лучше использовать вначале заголовка.</span>
</div>
<div class="form-group">
    <label class="required" for="meta_description">Описание страницы</label> <span class="badge pull-right">meta.description</span>
    <textarea class="form-control" rows="4" data-resizable="true" name="meta[description]" id="meta_description" placeholder="{if $meta.description ?}{$meta.description}{/if}">{$.request.meta.description|e}</textarea>
    <span class="help-block"></span>
</div>
<div class="form-group">
    <label class="required" for="meta_keywords">Ключевые слова</label> <span class="badge pull-right">meta.keywords</span>
    <select class="form-control" name="meta[keywords][]" id="meta_keywords" role="tags" data-placeholder="{if $meta.keywords ?}{$meta.keywords|join}{/if}" multiple>
    {foreach $.request.meta.keywords as $keyword}
        <option value="{$keyword|e}" selected>{$keyword|e}</option>
    {/foreach}
    </select>
    <span class="help-block">В данном теге можно разместить несколько ключевых слов о содержании
    страницы, но он не улучшит ранжирования в результатах запроса. Данный тег раньше был очень полезен,
    но в наши дни потерял свое значение. Ни один из основных поисковых сервисов
    не использует его для оценки содержания страницы</span>
</div>
{/macro}

{macro service($sections=false)}
{if $sections ?}
<div class="form-group">
    <label class="required" for="index">Главная страница</label>
    <select class="form-control" name="types[1]" id="index" role="section">
        <option value='' {if ! $.request.types.1}selected{/if}>Не определена</option>
    {foreach $sections as $section}
        <option value="{$section.id}" data-keyword="{$section.keyword}" data-level="{$section.path|split:'/'|count}" {if $section.id == $.request.types.1}selected{/if}>{$section.title}</option>
    {/foreach}
    </select>
</div>
<div class="form-group">
    <label class="required" for="error">Страница не найдена</label>
    <select class="form-control" name="types[0]" id="error" role="section">
        <option value='' {if ! $.request.types.0}selected{/if}>Не определена</option>
    {foreach $sections as $section}
        <option value="{$section.id}" data-keyword="{$section.keyword}" data-level="{$section.path|split:'/'|count}" {if $section.id == $.request.types.0}selected{/if}>{$section.title}</option>
    {/foreach}
    </select>
</div>
<hr>
{/if}
<div class="form-group">
    <label class="required" for="dashboard">Адрес административной части сайта</label>
    <div class="input-group">
       <span class="input-group-addon">{if $.root ?}/{$.root}{/if}/</span>
       <input class="form-control" type="text" value="{$.request.config.dashboard|e ?: 'admin'}" name="config[dashboard]" id="dashboard" {if ! $.request.config.dashboard}placeholder="admin"{/if}>
    </div>
    <span class="help-block">Изменение параметра означает изменение URL-адреса панели администрирования. Не меняйте этот параметр, если не уверены в результате!</span>
</div>
<div class="form-group">
    <label class="required" for="url">Вариант генерации ЧПУ</label>
    <select class="form-control" name="config[url]" id="url" role="simple">
        <option value=''>использование допустимых символов</option>
        <option value='transliteration' {if 'transliteration' === $.request.config.url}selected{/if}>транслитерация по правилам яндекса</option>
    </select>
    <span class="help-block">Cпособ предобразования названия при автоматическом генерировании ЧПУ.</span>
</div>
{/macro}

{macro template($templates, $inherit = false)}
{set $parts = $.tpl.basename|split:'/'}
<div class="form-group">
    <label class="label-light required" for="keyword">Макет дизайна</label> <span class="badge pull-right">{$parts.0}.template</span>
    <select class="form-control" name="template" role="template">
        <option value="">Не задан</option>
    {if $inherit ?}
        <option value="0" {if $.request.template === '0'}selected{/if}>Наследование</option>
    {/if}
    {foreach $templates as $template}
        <option value="{$template->id}" data-keyword="{$template->keyword}" data-level="{$template->path|split:'/'|count}" {if $.request.template == $template->id}selected{/if}>{$template->title}</option>
    {/foreach}
    </select>
    <span class="help-block"></span>
</div>
{/macro}

{macro field($field)}
{if 'NO' === $field.null}
<div class="control-group has-warning {if $.request.apply ! && ! $.request[$field.field]}has-error{else}has-warning{/if}">
{/if}
    <div class="form-group">
        <label class="required" for="{$field.field}">{$field.title ?: ''}</label> <span class="badge pull-right">{$field.field}</span>
{switch $field.aspect ?: $field.type}
    {case 'text'}
        {if $field.editor ?}
            {set $editor[$field.editor] = true}
        <textarea class="form-control {$field.editor}" rows="4" name="{$field.field}" id="{$field.field}">{$.request[$field.field]|e}</textarea>
        {else}
        <textarea class="form-control" rows="4" data-resizable="true" name="{$field.field}" id="{$field.field}">{$.request[$field.field]|e}</textarea>
        {/if}
    {case 'file'}
        <input type="hidden" name="{$field.field}">
        <span class="count pull-right"></span>
        <select class="form-control file {$field.field}" name="{$field.field}[]" role="file" multiple="multiple">
        {foreach $.request[$field.field] as $file}
            <option value='{$file|json_encode}'
                {if $file.type ?}data-type='{$file.type}'{/if}
                {if $file.size ?}data-size='{$file.size}'{/if}
                {if $file.width ?}data-width='{$file.width}'{/if}
                {if $file.height ?}data-height='{$file.height}'{/if}
                {if $file.url ?}data-url='{$.root}/{$file.url}'{/if}
                data-status='temporary' selected>{$file.name}</option>
        {/foreach}
        </select>
        <input type="file" class="file-upload hidden" name="files[]" data-url="{$.component}/file/upload.html?model={$field.table}&field={$field.field}" multiple="multiple">
        <div class="btn-group input-group-btn-upload" role="group">
            <button class="btn btn-default btn-choice" type="button">Выбор файла</button>
            <button class="btn btn-default btn-upload" type="button">Загрузка файла</button>
        </div>
        <div class="btn-group input-group-btn-upload pull-right" role="group">
            <button class="btn btn-default btn-clear" type="button">Очистить все</button>
        </div>
    {case 'join'}
        {set $rows = $.model->factory($field.join)->selectMany('id', $field.column)->findArray()}
        <select class="form-control" name="{$field.field}" role="join">
        {if 'YES' === $field.null}
            <option value=''>Не задано</option>
        {/if}
        {foreach $rows as $row}
            <option value='{$row.id}' {if $row.id == $.request[$field.field]|e}selected{/if}>{$row[$field.column]}</option>
        {/foreach}
        </select>
    {case 'group'}
        {set $options = $.model->factory($field.table)->select($field.field)->whereNotNull($field.field)->groupBy($field.field)->findArray()}
        <select class="form-control" name="{$field.field}" role="tags">
        {if 'YES' === $field.null}
            <option value="">не задано</option>
        {/if}
        {foreach $options as $array}
            <option value="{$array[$field.field]}"{if $.request[$field.field]|e == $array[$field.field]} selected{/if}>{$array[$field.field]}</option>
        {/foreach}
        </select>
    {case default}
        <input class="form-control" type="text" value="{$.request[$field.field]|e}" name="{$field.field}" id="{$field.field}">
{/switch}
        <span class="help-block">{$field.comment}</span>
    </div>
{if 'NO' === $field.null}
</div>
{/if}
{/macro}

{block 'component_content'}
{parent}
<form id="add" action="{$.component}/site/add.html?apply" method="post">
    <ul class="nav nav-tabs">
    {foreach $groups as $keyword=>$group first=$first}
        <li class="{if ('tab_' ~ $keyword) == $.cookie.tabs || (!$.cookie.tabs && $first)}active{/if}"><a href="#tab_{$keyword}" data-toggle="tab">{$group}</a></li>
    {/foreach}
    </ul>
    <div class="tab-content">
    {foreach $groups as $keyword => $group first=$first}
        {set $keys = array_keys(array_column($fields, 'group'), $keyword)}
        <div class="tab-pane {if ('tab_' ~ $keyword) == $.cookie.tabs || (!$.cookie.tabs && $first)}active{/if}" id="tab_{$keyword}">
        {switch $keyword}
            {case 'main'}{macro.main}{if $keys ?}<hr>{/if}
            {case 'meta'}{macro.meta}{if $keys ?}<hr>{/if}
            {case 'service'}{macro.service}{if $keys ?}<hr>{/if}
            {case 'template'}{macro.template templates=$templates}{if $keys ?}<hr>{/if}
        {/switch}
        {foreach $keys as $key}{macro.field field=$fields[$key]}{/foreach}
        </div>
    {/foreach}
    </div>
</form>
{/block}

{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Добавить сайт" form="add">
{/block}

{block 'component_script'}
<script src="{$.component}/assets/ace/ace.js"></script>
<script src="{$.component}/assets/ckeditor/ckeditor.js"></script>
<script src="{$.component}/assets/jquery-fileupload/jquery.iframe-transport.js"></script>
<script src="{$.component}/assets/jquery-fileupload/jquery.fileupload.js"></script>
{parent}
{/block}
