{*
 * Шаблон для изменения настроек заданного сайта
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{use 'component:site/add.html'}
{import 'component:site/add.html'}

{block 'component_set'}{parent}
{var $.server = $.server|array_change_key_case}

{if $.request.site ? && ($site = $.model->factory('Site')->findOne($.request.site))}

    {set $additionals = $site->schema()->field()->whereNotIn('field', array_column($site->fields(), 'field'))->findMany()}
    {set $sections = $site->section()->orderByAsc('path')->findMany()}
    {foreach $sections as $section}
        {if $section.type is not null}
            {var $.request.types[$section.type] = $section.id}
        {/if}
    {/foreach}

    {if $.request.apply !}
        {var $.request.dashboard = $.request.dashboard|trim:'/'}
        {if $site->set($.request)->save()}
            {set $sections = $site->section()->whereNotNull('type')->findMany()}
            {foreach $sections as $section}
                {do $section->set('type', null)->save()}
            {/foreach}
            {if $types = array_diff($.request.types, ['']) ?}
                {set $ids = array_values($types)}
                {set $sections = $site->section()->whereIn('id', $ids)->findMany()}
                {foreach $sections as $section}
                    {do $type = array_search($section->id, $types)}
                    {do $section->set('type', "{$type}")->save()}
                {/foreach}
            {/if}
            {set $message}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok"></span>
                Данные объекта успешно обновлены.
            </div>
            {/set}
        {else}
            {set $message}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-remove"></span>
                Не удалось сохранить изменения.
            </div>
            {/set}
        {/if}
    {/if}

    {*set $schema = $.schema->findOne('Site')}
    {set $fields = array_column($.model->factory('Site')->filter('fields'), 'field')}
    {set $additionals = $schema->field()->whereNotIn('field', $fields)->findMany()*}
    {var $.request = array_merge($.request,  $site->asArray())}
{else}
    {exit}
{/if}

{* Формирование меню *}
{set $menu.main.left.site.class="active"}
{set $menu.second = [
    'left' => [
        ['title' => 'Разделы', 'link' => $.component ~ '/site/section/list.html?site=' ~ $site.id, 'class' => '']
    ],
    'right' => [
        ['title' => 'Изменение настроек', 'link' => $.component ~ '/site/set.html?site=' ~ $site.id, 'class' => 'active']
    ]
]}
{/block}

{block 'component_content'}
{parent}
<form id="set" action="{$.component}/site/set.html?site={$site.id}&apply" method="post">
    <ul class="nav nav-tabs">
        <li class="{if 'main' == $.cookie.tabs || ! $.cookie.tabs}active{/if}"><a href="#main" data-toggle="tab">Основная информация</a></li>
        <li class="{if 'meta' == $.cookie.tabs}active{/if}"><a href="#meta" data-toggle="tab">Метаинформация</a></li>
    {if $additionals ?}
        <li class="{if 'additional' == $.cookie.tabs}active{/if}"><a href="#additional" data-toggle="tab">Дополнительная информация</a></li>
    {/if}
        <li class="{if 'service' == $.cookie.tabs}active{/if}"><a href="#service" data-toggle="tab">Служебные настройки</a></li>
    </ul>
    <div class="tab-content">
        {macro.main}
        {macro.meta}
        <div class="tab-pane {if 'service' == $.cookie.tabs}active{/if}" id="service">
            <div class="form-group">
                <label class="required" for="index">Главная страница</label>
                <select class="form-control" name="types[1]" id="index" role="section">
                    <option value='' {if ! $.request.types.1}selected{/if}>Не определена</option>
                {foreach $sections as $section}
                    <option value="{$section.id}" data-keyword="{$section.keyword}" data-level="{$section.path|split:'/'|count}" {if $section.id == $.request.types.1}selected{/if}>{$section.title}</option>
                {/foreach}
                </select>
            </div>
            <div class="form-group">
                <label class="required" for="error">Страница не найдена</label>
                <select class="form-control" name="types[0]" id="error" role="section">
                    <option value='' {if ! $.request.types.0}selected{/if}>Не определена</option>
                {foreach $sections as $section}
                    <option value="{$section.id}" data-keyword="{$section.keyword}" data-level="{$section.path|split:'/'|count}" {if $section.id == $.request.types.0}selected{/if}>{$section.title}</option>
                {/foreach}
                </select>
            </div>
            <hr>
            <div class="form-group">
                <label class="required" for="dashboard">Адрес административной части сайта</label>
                    <div class="input-group">
                        <span class="input-group-addon">http://{$site->host}/</span>
                        <input class="form-control" type="text" value="{$.request.dashboard|e}" name="dashboard" id="dashboard">
                    </div>
                <span class="help-block">Изменение параметра означает изменение URL-адреса панели администрирования. Не меняйте этот параметр, если не уверены в результате!</span>
            </div>
        </div>
    </div>
</form>
{/block}

{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Сохранить изменения" form="set">
<div class="pull-right">
    <a class="btn btn-default" href="{$.component}/site/set.html?site={$site.id}" role="button">Отменить изменения</a>
</div>
{/block}
