{*
 * Шаблон для добавления изменения модели данных
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{import 'component:model/add.html'}

{block 'component_set'}{parent}
{if $.request.model ? && ($model = $.schema->findOne($.request.model))}
    {if $.request.apply !}
        {foreach $.request.groups as $group}
            {set $parts = $group|split}
            {if $parts.1 ?} {set $groups[$parts.0] = $parts.1} {else} {set $groups[$parts.0|crc32] = $parts.0} {/if}
            {/foreach}
        {var $.request.groups = $groups}
        {if $model->set($.request)->save()}
            {set $message}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-ok"></span>
                Данные объекта успешно обновлены.
            </div>
            {/set}
            {var $.request = array_merge($.request, $model->asArray())}
        {else}
            {set $message}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-remove"></span>
                Не удалось сохранить изменения.
            </div>
            {/set}
        {/if}
    {/if}
{else}
    {exit}
{/if}

{var $.request = array_merge($model->asArray(), $.request)}

{* Построение меню *}
{set $menu.main.left.model.class="active"}
{set $menu.second = [
    'left' => [
        ['title' => 'Поля', 'link' => $.component ~ '/field/list.html?model=' ~ $model.name ]
    ],
    'right' => [
        ['title' => 'Изменение настроек', 'link' => $.component ~ '/model/set.html?model=' ~ $model.name, 'class' => 'active']
    ]
]}

{* Построение древовидного меню *}
{set $tree.open_nodes = ['model_' ~ $model.name]}
{set $tree.selected_node = ['model_' ~ $model.name]}
{/block}

{block 'component_aside'}
<div id="tree" data-url="{$.component}/model/tree.html"></div>
{/block}

{block 'component_content'}
{parent}
<form id="set" action="{$.component}/model/set.html?model={$model.name}&apply" method="post">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Основная информация</a></li>
    </ul>
    <div class="tab-content">
        {macro.main model=$model}
    </div>
</form>
{/block}

{block 'component_footer'}
<input class="btn btn-default" type="submit" role="button" value="Сохранить изменения" form="set">
<div class="pull-right">
    <a class="btn btn-default" href="{$.component}/model/set.html?model={$model->name}" role="button">Отменить изменения</a>
</div>
{/block}
