{*
 * Шаблон для построения дерева
 *
 * @package   This file is part of the Kit.cms
 * @author    Anton Popov <a.popov@kit.team>
 * @copyright Kit.team <http://www.kit.team>
 * @link      Kit.cms <http://www.kitcms.ru>
 *}

{block 'component_set'}
{set $json = []}
{if $.request.model ? && ($model = $.schema->findOne($.request.model))}
    {set $fields = $model->field()->findArray()}
    {set $protect = ($.model->factory($model->name)->filter('fields'))|array_column:'field'}
    {foreach $fields as $key => $field}
        {if $field.group ?}
            {set $groups[$field.group][] = $field}
            {unset $fields[$key]}
        {/if}
    {/foreach}

    {if $.request.group ?}
        {foreach $groups[$.request.group] as $field}
            {set $json[] = [
                'id' => 'field_' ~ $field.field,
                'label' => $field.field,
                'link' => $.component ~ '/field/set.html?model=' ~ $model.name ~ '&field=' ~ $field.field,
                'model' => $model.name,
                'icon' => 'glyphicon-flash',
                'color' => ($field.field in $protect|array_merge:['section']) ? 'grey' : 'blue'
            ]}
        {/foreach}
    {else}
        {foreach $fields as $field}
            {set $json[] = [
                'id' => 'field_' ~ $field.field,
                'label' => $field.field,
                'link' => $.component ~ '/field/set.html?model=' ~ $model.name ~ '&field=' ~ $field.field,
                'model' => $model.name,
                'icon' => 'glyphicon-flash',
                'color' => ($field.field in $protect|array_merge:['section']) ? 'grey' : 'blue'
            ]}
        {/foreach}
        {foreach $model.groups as $keyword => $group}
            {set $json[] = [
                'id' => 'group_' ~ $keyword,
                'label' => $group,
                'link' => $.component ~ '/field/list.html?model=' ~ $model.name,
                'model' => $model.name,
                'load_on_demand' => ($groups[$keyword] ? ($groups[$keyword]|count) : 0),
                'demand_url' => $.component ~ '/model/tree.html?model=' ~ $model.name ~ '&group=' ~ $keyword,
                'icon' => 'glyphicon-flash',
                'color' => 'blue'
            ]}
        {/foreach}
    {/if}
{else}
    {set $models = $.schema->findArray()}
    {set $categories = []}
    {foreach $models as $key => $model}
        {if $model.category ?}
            {set $categories[$model.category][] = $model}
            {unset $models[$key]}
        {/if}
    {/foreach}

    {if $.request.category ? && $categories[$.request.category] ?}
        {foreach $categories[$.request.category] as $model}
            {set $json[] = [
                'id' => 'model_' ~ $model.name,
                'label' => $model.name,
                'link' => $.component ~ '/field/list.html?model=' ~ $model.name,
                'active' => 1,
                'load_on_demand' => 1,
                'demand_url' => $.component ~ '/model/tree.html?model=' ~ $model.name,
                'icon' => 'glyphicon-list-alt',
                'color' => $model.class_name ? 'grey' : 'blue'
            ]}
        {/foreach}
    {else}
        {foreach $categories as $category => $data}
            {set $json[] = [
                'id' => 'category_' ~ $category,
                'label' => $category,
                'link' => $.component ~ '/field/list.html?category=' ~ $category,
                'active' => 1,
                'load_on_demand' => 1,
                'demand_url' => $.component ~ '/model/tree.html?category=' ~ $category,
                'icon' => '',
                'color' => 'grey'
            ]}
        {/foreach}

        {foreach $models as $model}
            {set $json[] = [
                'id' => 'model_' ~ $model.name,
                'label' => $model.name,
                'link' => $.component ~ '/field/list.html?model=' ~ $model.name,
                'active' => 1,
                'load_on_demand' => 1,
                'demand_url' => $.component ~ '/model/tree.html?model=' ~ $model.name,
                'icon' => 'glyphicon-list-alt',
                'color' => $model.class_name ? 'grey' : 'blue'
            ]}
        {/foreach}
    {/if}

{/if}
{$json|json_encode}
{exit}
{/block}
